doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheet.css')

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    header(class="main-header")
      h1 MembersOnly
      nav(class="nav-list")
        ul
          if currentUser
            li
              a(href="/new-message") Create Message
            li
              a(href="/log-out") Log Out
          else
            li
              a(href="/sign-in") Sign In
            li
              a(href="/sign-up") Sign Up
            li
              a(href="/new-message") Create Message

              
      button(class="menu-button", onclick="toggleMenu()") Menu
    block content

script.
  function toggleMenu() {
    var navList = document.querySelector(".nav-list");
    navList.classList.toggle("show");
  }