extends layout

block content
  if currentUser

    form(action="" method="POST" class="message-form-container")
      div
        label(for="title") Title
        input(type="text" name="title" id="title")
      
      div
        label(for="message") Write a message
        input(type="text" name="message" id="message")
      
      button(type="submit") Submit
  