body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	flex-direction: column;
}

.main-header {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-header > nav > a {
	background-color: rgb(255, 0, 140);
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin: 10px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	text-decoration: none;
}

.main-header > nav > a:hover {
	background-color: rgb(203, 0, 112);
}

h1 {
	color: rgb(255, 0, 140);
}

heading > h2 {
	text-align: center;
	margin-bottom: 25px;
}

.sign-up-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 3px 3px rgb(200, 199, 199);
}

.sign-up {
	display: flex;
	flex-direction: column;
	padding: 25px;
	margin: 25px;
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sign-up > h2 {
	align-self: center;
}

.field {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.sign-up > div > input {
	padding: 5px;
	border: 1px solid gray;
	border-radius: 5px;
}

.sign-up > button {
	width: 40%;
	margin-top: 10px;
	padding: 5px;
	align-self: center;
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 0, 140);
	color: #fff;
	padding: 10px;
}

.nav-list {
	background-color: pink;
	display: flex;
	text-decoration: none;
	list-style-type: none;
}

@media (max-width: 768px) {
	.menu-button {
		display: block;
		padding: 10px;
		background-color: rgb(255, 0, 140);
		color: #fff;
		border: none;
		border-radius: 5px;
	}

	.nav-list {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;
		position: absolute;
		top: 80px;
		right: 0;
		background-color: #f5f5f5;
		width: 100%;
		flex-direction: column;
		padding: 0;
		text-align: center;
		z-index: 1;
	}

	.show {
		max-height: 500px;
	}

	.nav-list > ul {
		padding: 0;
	}

	.nav-list > ul > li {
		margin: 0;
		padding: 10px;
		border-bottom: 1px solid #ddd; /* Light gray separating line */
		list-style: none;
	}

	.nav-list > ul > li > a {
		color: rgb(255, 0, 140);
		text-decoration: none;
		font-size: 24px;
	}

	.nav-list li:last-child {
		border-bottom: none; /* Remove border from last item */
	}
}

.error-message {
	color: red;
	padding: 3px;
}

/* .details {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
 */

/* Style the container for all messages */
div.messagesContainer {
	margin: 20px;
}

/* Style each individual message */
article.message {
	background-color: #f0f0f0;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 10px;
}

/* Style the message title */
article.message h2 {
	font-size: 18px;
	margin-bottom: 5px;
	color: rgb(255, 0, 140);
}

article.message p {
	font-size: 16px;
	line-height: 1.4;
}

article.message .details {
	/* margin-top: 10px; */
}

article.message .details p {
	font-weight: 500;
}

article.message .details time {
	font-size: 14px;
	color: #888;
}

.details {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.disclaimer {
	color: #616161;
}

.new-message {
	align-self: center;
	background-color: rgb(255, 0, 140);
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
}

.memberLink {
	color: rgb(255, 0, 140);
}

.message-form-container {
	/* border: solid 3px black; */
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.message-form-container > div {
	display: flex;
	flex-flow: column wrap;
	margin: 0.625rem;
}

.message-form-container > div > input {
	padding: 0.3125rem;
	font-size: 16px;
}

.message-form-container > button {
	background-color: rgb(255, 0, 140);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 0.625rem;
	font-size: 16px;
}
